* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}

.myHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.myHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.myHeader::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: .5s;
}
.myHeader:hover::after {
    left: 100%;
}
.myHeader a {
    color: #D2691E;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    transition: all 0.3s;
}
.myHeader a:hover {
    color: #BC243C;
}
.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.myNavbar a {
    position: relative;
    font-size: 1.15rem;
    color: #E15D44;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.myNavbar a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    left: 0;
    background-color: #BC243C;
    transition: width 0.3s ease-in-out;
}
.myNavbar a:hover {
    color: #BC243C;
}
.myNavbar a:hover::after {
    width: 100%;
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    color: #fff;
    cursor: pointer;
    display: none;
}

.icons i {
    font-size: 2.8rem;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .myHeader {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
        color: #D2691E;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }
    .myNavbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s  ease;
    }
    #check:checked~.myNavbar {
        height: 14rem;
    }
    .myNavbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
        /* flex-direction: column; */
    }
    #check:checked~.myNavbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
}

/* CAROUSEL */
.myCarousel .myCarousel-Content .myCarousel-item {
    position: relative;
    top: 100px;
    width: 100%;
    display: block;
    align-items: center;
    padding: 120px 30px;
}
.myCarousel .myCarousel-Content .myCarousel-background img {
    background-repeat: none ;
    position: relative;
    top: 100px;
}
.myCarousel .myCarousel-Content h4 {
    font-size: 1rem;
    font-weight: 300;
    color: #797979;
    letter-spacing: 2px;
}
.myCarousel .myCarousel-Content h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #05364d;
    line-height: 3rem;
}
.myCarousel .myCarousel-Content h1 span {
    font-size: 3rem;
    font-weight: 500;
    color: #E15D44;
    line-height: 3rem;
}
.myCarousel .myCarousel-Content h5 {
    font-size: 1.3rem;
    font-weight: 300;
    color: #05364d;
    letter-spacing: 1px;
}

.myCarousel .myCarousel-Content .social-icons i {
    font-size: 3rem;
    transition: .3s ease;
    color: #D2691E;
}
.myCarousel .myCarousel-Content .social-icons i:hover {
    color: #333;
}
.myCarousel .myCarousel-Content .myCarousel-item a {
    text-decoration: none;
}
.primary_btn {
    display: inline-block;
    background: linear-gradient(to right, #D2691E 0%, #f6ed78 51%, #fff 100%);
    color: #fff;
    letter-spacing: 0px;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 38px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
}
.primary_btn:hover {
    background-position: right center;
    color: #BC243C;
}
/* ABOUT ME */
.aboutMe {
    margin-top: 180px;
}
.aboutMe .main-title .top-text {
    color: #797979;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}
.aboutMe .main-title p:first-child::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 100px;
    width: 200px;
    height: 2px;
    background-color: #D2691E;
}
.aboutMe .main-title h2 {
    font-size: 30px;
    line-height: 52px;
    color: #05364d;
}
.aboutMe .main-title p:last-child {
    font-size: 1rem;
    font-weight: 300;
}